{
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-empty-function": "off"
  },
  "overrides": [
    {
      "files": ["src/**/*.ts"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ]
}
